// SPDX-License-Identifier: GPL-2.0+ OR MIT
//
// Copyright 2014-2020 Toradex
// Copyright 2012 Freescale Semiconductor, Inc.
// Copyright 2011 Linaro Ltd.

/dts-v1/;

#include "imx6-apalis.dts"

/ {
	model = "Toradex Apalis iMX6Q/D Module on Jacto Omni1000 Board";
	compatible = "jacto,imx6q-omni1000", "toradex,apalis_imx6q", "fsl,imx6q";
};

&usdhc2 {
	status = "disabled";
};
